<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>wechat</title>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
 $.ajax({
   url: 'http://172.18.8.206:3000/auth',
   type: "GET",
   dataType: "json",
   success: function (data) {
     console.log(data)
   }
 })
</script>
</body>
</html>
